@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

* {
    font-family: "Noto Sans JP", sans-serif;
    padding: 0;
    margin: 0;
}

/* Navbar */

.navbar {
    background: linear-gradient(to right, #03fc7b, #57f7e5);
    padding: 1rem;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-left button {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s all ease;
    background-color: #03fc7b;
    border: none;
    padding: 0 40px;
}

.navbar-left button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.search-box {
    display: flex;
    align-items: center;
    border: 2px solid rgb(110, 108, 108);
    border-radius: 25px;
    padding: 10px;
    background-color: #fff;
    width: 600px;
    margin: 20px;
}

.search-box i {
    color: black;
    margin-right: 10px;
}

.search-box input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1em;
}

.search-box input::placeholder {
    color: #7f8c8d;
}

.navbar-right {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.navbar-right button {
    padding: 16px;
    border-radius: 100px;
    background-color: white;
    border: none;
    transition: 0.3s all ease;
}

.navbar-right button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/* Main */

main .text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

main .text p {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

main .images {
    border: 4px solid black;
    border-radius: 40px;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 100px;
}

main .images .ofertas {
    background: linear-gradient(to left, #df1010, #ff0000);
    border: 4px solid black;
    border-radius: 40px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ofertas p {
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
}

/* Benefícios */
.benefits {
    display: flex;
    justify-content: space-around;
    background-color: #f9fafc;
    padding: 20px 0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 100px;
}

.benefit-item {
    display: flex;
    align-items: center;
    text-align: center;
    color: #2c3e50;
}

.benefit-item i {
    font-size: 2em;
    margin-right: 10px;
    color: #2c3e50;
}

.benefit-item h3 {
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
}

.benefit-item p {
    margin: 0;
    font-size: 0.9em;
    color: #7f8c8d;
}


/* Rodapé */
footer {
    background-color: #adb5b6;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.dev {
    display: flex;
    justify-content: center;
}

.dev p {
    font-size: 18px;
    font-weight: bold;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.social-media .insta,
.github,
.linkedin {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    padding: 20px;
}

.social-media a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: 0.3s all ease;
}

.social-media span {
    margin-top: 5px;
    font-size: 16px;
}

.social-media a:hover {
    color: black;
    text-decoration: none;
    transform: scale(1.2);
}